<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      body {
        background-color: #ffe5f3;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      #container1 {
        background-color: #694f8e;
        padding: 20px;
        margin: 5% 15% 5% 15%;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        background-color: #efd3f9;
        border-collapse: collapse;
      }
      th {
        background-color: #694f8e;
        color: white;
      }
      td, th {
        padding: 5px 25px 5px 25px;
      }
      tr:nth-child(even) {
        background-color: #fcf1ff;
      }
      input {
        border-radius: 20px;
        box-shadow: none;
        padding: 5px;
      }
      button {
        border-radius: 20px;
        box-shadow: none;
        padding: 5px;
        background-color: #efd3f9;
      }
    </style>

    <title>URL Shortner</title>
  </head>
  <body >
    <div id="container1">
      <h1 style="color: white;">URL Shortner</h1>
      <form method="post" action="/url">
        <input type="url" name="url" placeholder="www.example.com" required />
        <button type="submit">Create</button>
      </form>
      <% if(locals.id) { %>
      <p>Your short url :<b>http://localhost:3000/url/<%= id %></b></p>
      <% } %>
    </div>
    <br />
    <br />
    <br />
    <div>
      <% if(urls[0] == null){ %>
      <p>URLs not available</p>
      <% } else { %>
      <table>
        <thead>
          <th>S. No.</th>
          <th>Short Id</th>
          <th>Redirect URL</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index)=>{ %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
    <br><br>
    <form action="/user/logout" method="get">
        <button style="padding: 2% 10% 2% 10%;" class="w3-button w3-round-xxlarge w3-purple" type="submit" >Signout</button>
    </form>
  </body>
</html>
